body {
    background-image: url(assets/img/fondo.jpg)
}

.carousel-inner img {
    height: 300px;
}

header img {
    float: right;
    width: 200px;
    height: 300px;
    margin-right: 50px;
    margin-top: -45px;
}

header i {
    float: right;
    font-size: 100px;
    margin: 10px;
    margin-top: 20px;
}

.fa-css3-alt {
    color: rgb(184, 155, 207);
}

.fa-bootstrap {
    color: rgb(184, 155, 207);
}

.fa-git {
    color: rgb(184, 155, 207);
}

.fa-html5 {
    color: rgb(184, 155, 207);
}



h1 {
    margin: 0%;
    margin-left: 40px;
    color: white;
    font-size: 48px;
    padding-top: 10px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p {
    margin-left: 100px;
    margin-top: 10px;
    color: rgb(107, 54, 102);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}

header {
    background-color: rgb(132, 109, 173);
    height: 200px;

}

footer {
    display: inline-block;
    background-color: white;
    opacity: 0.5;
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin-top: 20px;

}

footer i:hover {
    cursor: pointer;
    color: blueviolet;
}

footer a {
    padding: 5px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #373a3c;
}

.card {
    color: rgb(184, 157, 199);
    margin-top: 30px;
}

h5 {
    font-size: 20px;
    color: rgb(231, 159, 245);
    text-align: center;
}

h4 {
    font-size: 30px;
    color: rgb(231, 159, 245);
    text-align: center;
    margin-top: 60px;
}

.navbar-brand i {
    font-size: 43px;
    padding: 0%;
    margin: 3px;
    margin-left: 20px;
}

.nav-item {
    font-size: 25px;
}

.navbar {
    margin-top: -70px;
    margin-bottom: 100px;
}

hr {
    margin-left: 0%;
    margin-right: 250px;
    color: rgba(255, 255, 255, 0.637);
    margin-top: 0%;
    margin-bottom: 0%;
}

section i {
    font-size: 80px;
    padding: 20px;
}

section {
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 150px;
}

section .row {
    background-color: rgb(70, 59, 71);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 80px;
    color: white;
    font-size: 20px;
    margin-bottom: 80px;
}

h6 {
    color: rgb(220, 162, 231);

}

.contactame {
    text-align: center;
}
